{% extends "root.njk" %}

{% block head %}
<script src='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" href="/css/index.css">
<script src="/scripts/index.js"></script>
{% endblock %}

{% block navigation %}
<div class="navbar-nav">
  <a class="nav-link" href="/upload">Upload</a>
  <a class="nav-link" href="/users/logout">Logout</a>
</div>
{% endblock %}

{% block content %}
<div id="map"></div>
{% endblock %}